{% extends "management/base.html" %}


{% load bootstrap4 %}


{% block main_content %}
<main role="main" class="col-md-10 ml-sm-auto col-lg-10 col-xl-10 pt-3 px-4">
	<div class="row justify-content-md-center">
		<div class="col-6 mt-3">
			<div class="card raised-card">
				<div class="card-header">
					<strong>{{ shop.name }}</strong>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-12">
							<div>
								<form method="post" action="{% url 'management:edit-shop' %} " enctype="multipart/form-data">
									{% csrf_token %}
									{% bootstrap_form form %}
									<button type="submit" class="btn btn-primary">Save</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

			{% bootstrap_messages %}
		</div>
	</div>
</main>
{% endblock main_content %}