{% extends "administration/base.html" %}

{% load bootstrap4 %}


{% block main_content %}
	<main role="main" class="col-md-10 ml-sm-auto col-lg-10 col-xl-10 px-4">
		<div class="row justify-content-md-center">
			<div class="col-12 col-sm-12 col-md-12">
				<div class="card raised-card {% if not forloop.first %}mt-3{% endif %}">
					<div class="card-header">
						<a href="{% url 'administration:admin-account-details' admin_account.pk %}"><strong>{{ admin_account }}</strong></a>
					</div>
					<div class="card-body">
						<form action="{% url 'administration:admin-account-edit' pk=admin_account.pk %}" method="post">
							{% csrf_token %}
							{% bootstrap_form form %}
							{% buttons %}
								<button type="submit" class="btn btn-primary">Save</button>
							{% endbuttons %}
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock main_content %}
