{% extends "management/base.html" %}


{% block main_content %}
	<main role="main" class="col-md-10 ml-sm-auto col-lg-10 col-xl-10 px-4">
		<div class="row">
			<div class="col-12">
				<a href="{% url 'management:warehouse-add' %}" class="btn btn-sm btn-warning text-white">+ Add new warehouse</a>
			</div>
		</div>
		<div class="row">
			{% for warehouse in warehouses %}
				<div class="col-12">
					{% include "management/warehouses/includes/_warehouse_card.html" %}
				</div>
			{% empty %}
				<div class="col-12"><i>Currently there are no warehouses</i></div>
			{% endfor %}
		</div>
	</main>
{% endblock main_content %}
