{% extends "base.html" %}

{% load static %}
{% load bootstrap4 %}


{% block content %}
<div class="container mt-3">
	<div class="card raised-card">
		<div class="card-body">
			<div class="row mt-3">
				<div class="col">
					<h1>
						{% if order.payment_method == 0 or not pay %}
							Thank you! Our manager will contact you.
						{% elif order.payment_method == 1 and pay %}
							Processing payment ..
						{% endif %}
					</h1>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block bottom_js %}
	<script>
		var orderId = parseInt('{{order.id}}');
		var paymentLinkId = '{{order.payment_link_id}}';
		var payMpesa = {% if order.payment_method == 0 %}false{% else %}true{% endif %};
	</script>
	<script src="{% static "js/order-payment-link.js" %}"></script>
{% endblock %}
