{% load i18n %}
<script type="text/template" id="qq-template">
	<div class="qq-uploader-selector qq-uploader row">
		<div class="qq-upload-drop-area-selector qq-upload-drop-area col-12" qq-hide-dropzone>
			<span>{% trans 'Drop files here to upload' %}</span>
		</div>

		<div class="col-7">
			<div class="qq-upload-button-selector qq-upload-button">
				<div><small>{% trans 'Upload' %}</small></div>
			</div>
		</div>

		<div class="qq-drop-processing-selector qq-drop-processing col-12">
			<span>{% trans 'Processing dropped files...' %}</span>
			<span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
		</div>

		<div class="col-5 p-l-0">
			<ul class="qq-upload-list-selector qq-upload-list">
				<li>
					<div class="qq-progress-bar-container-selector">
						<div class="qq-progress-bar-selector qq-progress-bar"></div>
					</div>
					<img class="qq-thumbnail-selector qq-thumbnail" width="40px" height="40px">
					<span class="qq-upload-spinner-selector qq-upload-spinner"></span>
					<span class="qq-edit-filename-icon-selector qq-edit-filename-icon"></span>
					<input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
					<span class="qq-upload-status-text-selector qq-upload-status-text"></span>
				</li>
			</ul>
		</div>
	</div>
</script>
